agm-map {
    height: 400px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }

  .store-info-box {
    border: 2px solid gray;
    height: 400px;
  }


  body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 4px;
    width: 350px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 300px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    text-align: center;
    }

    .searchbar:hover > .search_input{
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .results {
      font-weight: bold;
      font-size: 18px;
    }

    .address {
      font-weight: regular;
      font-size: 14px;
    }